<div class="container">
    <h1>Reservation Form</h1>
    <form (ngSubmit)="onSubmit(reservationForm)" #reservationForm="ngForm">
        <div class="form-group">
            <label for="phone">Phone</label>
            <input name="phone" [(ngModel)]="reservation.phone" type="text" maxlength="12" class="form-control" id="phone" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input name="email" [(ngModel)]="reservation.email" type="email" class="form-control" id="email">
        </div>

        <div class="form-group">
            <label for="noOfGuests">Number of guests</label>
            <input name="noOfGuests" [(ngModel)]="reservation.noOfGuests" type="number" class="form-control" id="noOfGuests">
        </div>
        <div class="form-group">
            <label for="comments">Comments</label>
            <input name="comments" [(ngModel)]="reservation.comments" type="text" class="form-control" id="comments">
        </div>
        <div class="form-group">
            <label for="startDate">Start date</label>
            <input name="startDate" [(ngModel)]="reservation.startDate" type="date" class="form-control" id="startDate">
            <label for="endDate">End date</label>
            <input name="endDate" [(ngModel)]="reservation.endDate" type="date" class="form-control" id="endDate">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <button type="reset" (ngClick)="onReset(reservationForm)" class="btn btn-success">Reset</button>

    </form>
</div>